<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<div class="header-titulo-img row">
    <div class="div-header-img col-md-2">
      <img class="img-logo" src="./assets/img/Bomberos logo.png" width="100px" alt="XD">
    </div>
    <div class="div-header-titulo col-md-8">
      <h1>Bomberos La Falda</h1>
      <p>Aplicación web para la administración de datos.</p>
    </div> 
    <header>
        <nav>
           <ul>
            <li><a href="#inicio"></a></li>
            <li><a href="#acerca"></a></li>
            <li><a href="#contactos"></a></li>
           </ul>
        </nav>
    </header>
  
    <section id="inicio">
      <h2>Sitio web bomberos</h2> 
      <p>Bienvenidos al sitio web creado por los estudiantes de la escuela proa la Falda.</p>
  
     </section>
    <section id="acerca">
      <h3>Explicacion reservada sobre el sitio web</h3>
      <p>Este sitio web creado por estudiante es para los bomberos de la Falda, para que registren en el sistema cada emergencia que ocurra.</p>
    
    </section>
   <section id="contactos">
    <h4>mas informacion</h4>
    <p>en estas redes encontraras mas informacion: @bomberos_lafalda</p>  
</div>