/* {
    margin: 0;
    padding: 0;
}
div {
  background-color: rgb(75, 28, 28);
  color: #fff;
  padding: 20px;
  text-align: center;

}
h1 {
  font-size: 36px;
  margin: 0;
}
p {
  font-size: 18px;
  margin: 10px 0;
} 
.div-header-img col-md-6 {
  display: flex;
}
.div-header-titul col-md-6o{
  margin-left: 400px;
  margin-right: 40px;
  margin-top: 20px;
}*/
*{
  margin: 0;
}


header{
  width: 100%;
  height: 120px;
  background-color: rgb(165, 41, 41);
  display: flex;
}
h1{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(255, 255, 255);
}
img{
  margin-left: 60px;
  height: 90px;
  margin-top: 20px;

}
