
<section>
    <img src="" class="background-login" alt="Fondo"> <!--actualizar imagen-->
    <section class="form-box"> <!--login-->
        <div >
            <img class="imglogin" src="" alt=""> <!--actualizar imagen-->
            <form action="ingresar" class="form-container">
             <h2>Ingresar</h2>
                <div class="input-form">
                    <label for="mail">Email</label>
                    <input  type="email" placeholder="Email" >

                    <label for="password">Contraseña</label>
                    <input type="password"placeholder="Password">
                
                    <input type="submit">

                    <a href="">Olvide mi contraseña</a> <br> 
                    <a href="">Registrarse</a> 
                </div>
            </form>
        </div>
    </section>
</section>