<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<section>
    <img src="" class="background-login" alt="Fondo"> <!--actualizar imagen-->
    <section class="form-box"> <!--login-->
        <div >
            <img class="imglogin" src="" alt=""> <!--actualizar imagen-->
            <form action="ingresar" class="form-container">
             <h2>Ingresar</h2>
                <div class="input-form">
                    <label for="text">DNI</label>
                    <input  type="text" placeholder="DNI" >

                    <label for="password">Contraseña</label>
                    <input type="password"placeholder="Contraseña">
                
                    <input type="submit" placeholder="Iniciar Sesión">
 
                </div>
            </form>
        </div>
    </section>
</section>