*{
    margin: 0;
}
footer{
    background-color: #313032;
    width: 100vw;
    height: 30vh;
    display: flex;
    justify-content: space-between;
}
.container-img-p{
    display: flex;
}

.text{
   padding-top: 45px;
   font-size: 20px;
   padding-left: 40px;
   color: white;
}

.container-icons{
    display: flex;
    margin-top: 40px;
    margin-right: 50px;
}
.icon-f-i{
    display: grid;
    grid-column: auto;
    margin-right: 30px;
    margin-top: 20px;
    
}

.facebook{ 
    margin-top: -40px;
}