<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<footer>
    <div class="container-img-p">
        <img width="140px" src="./assets/img/Bomberos logo.png" alt="">
        <div class="text">
            <p>contacto:</p>
            <p>bomberloslafalda@gmail.com:</p>
            <p>+54 9 3548 011</p>
        </div>  
    </div>
    <div class="container-icons">
        <div class="icon-f-i">
            <img  width="30px" src="./assets/img/instagramfooter.png" alt="">
            <img class="facebook" width="30px" src="./assets/img/facebookFooter.png" alt="">
        </div>
        <div class="icono">
            <img width="100px" src="./assets/img/correo-electronico.png" alt="">
        </div>
    </div>
    
</footer>
